body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  --tw-big-opacity: 1;
  background-color: rgba(147 197 253 / var(--tw-big-opacity));
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/* Section */
section {
  padding: 35px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

 /* Contact */
.contact {
  padding-bottom: 100px;
}
.contact .info-box {
  border-radius: 5%;
  height: 216px;
  color: #444444;
  background: #fafbff;
  padding: 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .email-form {
  border-radius: 5%;
  background: #fafbff;
  padding: 30px;
  height: 100%;
}
.contact .email-form input,
.contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .email-form input:focus,
.contact .email-form textarea:focus {
  border-color: #4154f1;
}

.contact .email-form input {
  padding: 10px 15px;
  border: 1px solid rgb(209, 209, 209);
}

.contact .email-form textarea {
  padding: 12px 15px;
  border: 1px solid rgb(209, 209, 209);
}

.contact .email-form button[type=submit] {
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
  cursor: pointer;
}

.contact .email-form button[type=submit]:hover {
  background: #5969f3;
}